<!-- !0624 -->
<!-- ?HTML 練習 -->
<!-- <h1>HTML練習</h1>
<textarea name="" id="">我是文字輸入框(可拉大)</textarea>
<ul>
  <li>
    <input type="text">
  </li>
  <li>
    <input type="checkbox">
  </li>
</ul>
<ol>
  <li>
    <input type="file" name="" id="">
  </li>
  <li>
    <input type="radio">
  </li>
</ol>
<button type="button">我是按鈕Button</button> -->



<!-- ?CSS 練習 -->
<!-- <p style="color: red; font-size: 24px;">CSS練習</p>
<p class="txtBlue txtLarge">CSS練習2</p> -->

<!-- ?Box Model 練習1 -->
<!-- <img src="https://picsum.photos/200/200" class="imgLeft" alt="">
<img src="https://picsum.photos/300/200" class="imgRight" alt="">
<div class="box"></div>
<input type="text" class="txtArea">
<button type="button" class="btn">button</button> -->

<!-- <br><br><br><br><br> -->

<!-- ?Box Model 練習2 -->
<!-- <div class="signIn">
  <p class="signInTitle">登入</p>
  <ul class="signInList">
    <li>
      <span>帳號：</span>
      <input type="email" class="userAcc">
    </li>
    <li>
      <span>密碼：</span>
      <input type="password" class="userPwd">
    </li>
    <li>
      <button class="btnLogin">登入</button>
    </li>
  </ul>
</div> -->

<!-- <div class="title">
  <p class="title-inner">content</p>
</div> -->






<!-- ?Box model 測試 -->
<!--

<div class="loginBox">
  <h2 class="title">登入</h2>

  <div class="acc">
    帳號：
    <input type="text">
  </div>

  <div class="acc">
    密碼：
    <input type="password">
  </div>

  <button class="loginBtn">登入</button>
</div>
 -->

<!-- ?flex 練習 -->
<!-- <div class="d-flex justify-content-center mb-2">
  <div class="box bg-primary">Flex item 1</div>
  <div class="bg-success align-self-end">Flex item 2</div>
  <div class="bg-danger mx-10 ms-2 me-2 align-self-center">Flex item 3</div>
  <div class="bg-info align-self-start">Flex item 4</div>
  <div class="box bg-warning">Flex item 5</div>
</div>
<div class="d-flex justify-content-center flex-row-reverse">
  <div class="box bg-primary">Flex item 1</div>
  <div class="bg-success align-self-end">Flex item 2</div>
  <div class="bg-danger mx-10 ms-2 me-2 align-self-center">Flex item 3</div>
  <div class="bg-info align-self-start">Flex item 4</div>
  <div class="box bg-warning">Flex item 5</div>
</div> -->


<!-- !相對、絕對位置 -->
<!-- <p>hello</p>
<div class="box box1"></div>
<div class="box box2"></div>
<div class="box box3"></div> -->


<!-- ?0626 position練習 -->

<!-- <div class="large">
  <div class="middle">
    <div class="small"></div>
  </div>
</div>

<div class="backTop"></div> -->
<!-- ! TS -->
<!-- ?TS 變數練習 -->
<!-- 要將全域變數內容顯示在HTML上，需要用兩組{}'將全域變數名稱包起來' -->
<!-- 告訴系統{{}}中的內容是全域變數 -->
<!-- {{ textContent }} -->

<!-- <h1 style="background-color: red;">{{ showTitle }}</h1>
<h3 style="background-color: blue; color: #fff;">{{ showContent }}</h3>
<img src="{{ showImg }}"> -->

<!-- <button (click)="showConsole()">showConsole</button> -->

<!-- <button (click)="alertContent("hello")">showConsole</button> -->
<!-- <button (click)="alertContent('hello')">showContent</button> -->


<!-- <h2 style="color: red; text-align: center; font-weight: 700;">Angular引用元件</h2>
<app-roles></app-roles>
<app-nav></app-nav> -->


<!-- ? ng綁定 -->

<div class="wrap">
  <h3>等級計算機</h3>
  <p class="level">等級：{{lev}}</p>
  <button (click)="levUp()">升級</button>
  <button (click)="levDown()" style="margin-left: 4px;">降級</button>
  <p>攻擊力：{{att}}</p>
  <p>防禦力：{{def}}</p>
  <input type="text" class="editInput" placeholder="請輸入等級" [(ngModel)]="inputLev">
  <button (click)="editLev()">修改等級</button>
  <button (click)="reset()" class="resetBtn">重置</button>
</div>
