// 0624 CSS 練習
// .txtBlue {
//   color: blue;
// }
// .txtLarge {
//   font-size: 48px;
// }


.imgLeft {
  margin-right: 24px;
}

.box {
  width: 524px;
  height: 100px;
  background-color: #ddd;
  margin: 36px 0;
}

.txtArea {
  width: 384.4px;
  height: 18.4px;
  margin-right: 18px;
  padding: 0 !important;
  border: 1px solid;
}
.btn {
  width: 120px;
  height: 20px;
  background-color: #fff;
  border: 1px solid;
}
