// ?0624 CSS 練習
// .txtBlue {
//   color: blue;
// }
// .txtLarge {
//   font-size: 48px;
// }


// ?0625 box model 練習1
// .imgLeft {
//   margin-right: 24px;
// }

// .box {
//   width: 524px;
//   height: 100px;
//   background-color: #ddd;
//   margin: 36px 0;
// }

// .txtArea {
//   width: 384.4px;
//   height: 18.4px;
//   margin-right: 18px;
//   padding: 0 !important;
//   border: 1px solid;
// }
// .btn {
//   width: 120px;
//   height: 20px;
//   background-color: #fff;
//   border: 1px solid;
// }

// ?0625 box model 練習2
// .signIn {
//   background-color: blue;
//   width: 250px;
//   color: #fff;
//   padding: 24px 32px 48px;
//   // transition: 0.3s;

//   // &:hover {
//   //   width: 300px;
//   //   height: 300px;
//   // }
// }
// .signInTitle {
//   text-align: center;
//   font-size: 24px;
//   font-weight: bold;
// }
// .signInList {
//   list-style: none;
//   padding: 0;
// }
// .userAcc, .userPwd {
//   border-radius: 100px;
//   width: 190px;
//   // width: 100%;
//   margin-bottom: 20px;
// }
// .btnLogin {
//   background-color: rgb(202, 42, 42);
//   width: 100%;
//   border-radius: 100px;
//   // margin-top: 24px;
//   color: #fff;

//   // &:hover {
//   //   background-color: #fa0;
//   // }
//   // &:active {
//   //   background-color: #f0a;
//   // }
// }


// .title {
//   &-inner {
//     color: red;
//     font-size: 32px;
//   }
// }

// .loginBox {
//   width: 320px;
//   background-color: rgb(58, 58, 132);
//   padding: 40px;

// }
// .title {
//   color: #fff;
//   text-align: center;
// }
// .acc {
//   color: #fff;
//   margin-bottom: 18px;
// }
// .pwd {
//   color: #fff;
//   margin-bottom: 18px;
// }
// input {
//   width: 80%;
//   border-radius: 100px;
// }
// .loginBtn {
//   width: 100%;
//   border-radius: 100px;
//   background-color: rgb(136, 42, 42);
//   color: #fff;
// }

// .firstArea {
//   width: 150px;
//   height: 50px;
//   background-color: red;
// }
// .firstArea:hover {
//   background-color: blue;

//   transition: 1s;

//   width: 300px;
// }




// .box {
//   height: 80px;
// }



// !相對 絕對位置測試
// .box {
//   width: 100px;
//   height: 100px;
//   border: 2px solid #333;
// }

// .box1 {
//   background: yellow;

//   position: relative;
//   top: 30px;
// }
// .box2 {
//   background: green;
// }
// .box3 {
//   background: pink;
// }
// p {
//   margin-bottom: 0;
//   background-color: #fa98ad;
// }




// ?0626 position練習
// .large {
//   width: 300px;
//   height: 300px;
//   background-color: #555879;
//   position: relative;
//   left: 10%;

//   // z-index: 10000;

//   .middle {
//     width: 200px;
//     height: 200px;
//     background-color: #98A1BC;

//     position: absolute;
//     right: 0;

//     // z-index: -1;
//   }
//   .small {
//     width: 100px;
//     height: 100px;
//     background-color: #DED3C4;

//     position: absolute;
//     bottom: 0;
//   }
// }

// .backTop {
//   width: 80px;
//   height: 80px;
//   background: #9966cb;
//   border-radius: 1000px;
//   position: fixed;
//   bottom: 5%;
//   left: 1%;
// }





.wrap {
  border: 2px solid #333446;
  border-radius: 8px;
  width: 300px;
  padding: 8px;
  position: absolute;
  background: #e2e2e2;
  * {
    margin-bottom: 8px;
  }
  h3 {
    text-align: center;
    font-weight: bold;
  }
  button {
    border: none;
    background-color: #333446;
    color: #EAEFEF;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .editInput {
    background-color: #7F8CAA;
    border: none;
    padding: 4px 8px;
    margin-right: 4px;
  }
  .resetBtn {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
